{% extends 'base.html' %}

{% load i18n %}
{% load static %}
{% load tz %}

{% block body %}

    <div class="album text-muted">
      <div class="container">

        <div class="row">
            <div class="col-md-6 col-lg-5">

                <div class="card card-custom">
                  <div class="card-block">
                    <h4 class="card-title"> {{ r.name }} </h4>
                    <p class="card-text"><i class="fa fa-info-circle" aria-hidden="true"></i>&nbsp;{% trans "薪資數據件數" %}: {{ r.salary.count }} </p>
                    <p class="card-text text-right">
                        {% if user.is_authenticated %}
                            {% if user_saved %}
                            <i class="material-icons pink user_saved_list pointer" data-company_id="{{ r.id }}" data-save_restaurant_type="unsave">favorite</i>
                            {% else %}
                            <i class="material-icons pink user_saved_list pointer" data-company_id="{{ r.id }}" data-save_restaurant_type="save">favorite_border</i>
                            {% endif %}
                        {% else %}
                        <a href="{% url 'login' %}"><i class="material-icons pink">favorite_border</i></a>
                        {% endif %}
                    </p>
                  </div>
                  <ul class="list-group list-group-flush">
                    <li class="list-group-item"> {{r.country}}{{r.city}}{{r.street}} </li>
                    <li class="list-group-item">
                        <span class="text-primary">
                            <a href="{% url 'index' %}?search_query_category={{ r.category }}">#{{ r.category }}</a>&nbsp;
                            <a href="{% url 'index' %}?search_query_city={{ r.city }}">#{{ r.city }}</a>
                        </span>
                    </li>
                  </ul>

                    <div class="card-block text-primary row justify-content-between">
                         {% if r.website %}
                        <div class="col-6">
                            <a href="{{r.website}}" class="card-link">{% trans "公司官網" %}</a>
                        </div>
                        {% endif %}
                        <div class="col-6">
                            <!-- Your send button code -->
                              <div class="fb-send"
                                   data-href="{{ request.build_absolute_uri }}"
                                   data-layout="button_count"
                              >
                              </div>
                            <div class="line-it-button" style="display: none;" data-type="share-c" data-lang="zh-Hant"></div>

                        </div>
                    </div>

                </div>

            </div>

            <div class="col-md-6 col-lg-7">
                <iframe
                        width="100%"
                        height="300vh"
                        frameborder="0" style="border:0"
                        src="https://www.google.com/maps/embed/v1/place?key={{GGL_API_KEY}}&q={{r.country}}{{r.city}}{{r.street}}&zoom=15&language=zh_TW" allowfullscreen>
                </iframe>
                <a href="{% url 'share_salary' r.id %}" class="btn btn-warning btn-block">{% trans "分享薪資" %} <i class="fa fa-plus" aria-hidden="true"></i></i></a>
            </div>
        </div>

          <br>

          <div id="accordion" role="tablist" aria-multiselectable="true">
              <div class="row">
                {% for salary in r.salary.all|dictsortreversed:"update_time" %}
                  <div class="col-md-4 mb-2">
                      <div class="card card-inverse card-primary">
                        <div class="card-header" role="tab" id="heading{{salary.id}}">
                            <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse{{salary.id}}" aria-expanded="false" aria-controls="collapse{{salary.id}}">
                              <h6 class="mb-0">
                                  <i class="fa fa-caret-down" aria-hidden="true"></i>&nbsp;
                                  {{salary.title}} ${{salary.monthly_pay}}
                                <p class="card-text pull-right">
                                    {% if salary.comment.count > 0 %}
                                    <i class="fa fa-comment-o" aria-hidden="true"></i> {{salary.comment.count}}
                                    &nbsp;
                                    {% endif %}
                                    <small>{{salary.update_time|timezone:local_tz|date:"Y/m/d"}}</small>
                                </p>
                              </h6>
                            </a>
                        </div>
                        <div id="collapse{{salary.id}}" class="collapse" role="tabpanel" aria-labelledby="heading{{salary.id}}">
                          <div class="card-block text-white">
                              <p>{% trans '相關工作經驗年資' %}: {{salary.related_expr}}年</p>
                              <p>{% trans '教育程度' %}: {{salary.education}}</p>
                              {% if salary.school or salary.major %}
                                <p>{% trans '學校科系' %}: {{salary.school}} {{salary.major}}</p>
                              {% endif %}
                              {% if salary.other %}
                                <p>其他：{{salary.other}}</p>
                              {% endif %}
                          </div>

                            <div class="list-group text-muted">
                                {% for comment in salary.comment.all %}
                                <div class="list-group-item align-items-start">
                                    <div class="d-flex w-100 justify-content-between">
                                      <h6 class="mb-1"><i class="fa fa-user-circle-o" aria-hidden="true"></i> {{comment.user_extend.user.id|add:"729"}}</h6>
                                      <small>{{comment.created_time|timezone:local_tz|timesince}}{% trans '前' %}</small>
                                    </div>
                                    <p class="mb-1">{{comment.message|linebreaks}}</p>
                                    <!--<small>Donec id elit non mi porta.</small>-->
                                  </div>
                                {% endfor %}

                                {% if user.is_authenticated %}
                                <div class="list-group-item flex-column align-items-start">

                                    <form id="comment_form" class="form-inline d-flex w-100 justify-content-between" method="POST" action="{% url 'comment_save' salary.id %}">{% csrf_token %}
                                      <label for="message"><i class="fa fa-user-circle-o" aria-hidden="true"></i> {{user.id|add:"729"}}</label>
                                      <textarea class="form-control mb-1 mr-sm-1 mb-sm-0" id="message" rows="3" maxlength="300" name="message"></textarea>

                                      <button type="submit" class="btn btn-primary btn-sm"><i class="fa fa-plus fa-lg" aria-hidden="true"></i></button>
                                    </form>

                                  </div>
                                {% endif %}

                            </div>

                        </div>
                      </div>
                  </div>
                {% endfor %}
              </div>
          </div>

      </div>
    </div>

{% endblock %}

{% block extraJS %}
    <script src="{% static 'js/user_save_restaurant.js' %}" ajax_url="{% url 'user_save_company' %}" csrf_token="{{ csrf_token }}"></script>

    <script src="//scdn.line-apps.com/n/line_it/thirdparty/loader.min.js" async="async"　defer="defer"></script>

    <script type="text/javascript">
      LineIt.loadButton();
    </script>
{% endblock %}
