{% extends 'base.html' %}

{% load i18n %}
{% load static %}

{% block body %}

    <section class="jumbotron text-center main-background">
        <div class="container">
            {% if user_saved_list and user.is_authenticated %}
            <h1 class="jumbotron-heading text-white">{% trans "收藏清單" %}</h1>
            <br>
            <p><a href="{% url 'index' %}" class="btn btn-primary">{% trans "回首頁" %}</a></p>
            {% else %}
            <h1 class="jumbotron-heading text-white display-4"><strong>Sharlary</strong></h1>
            <br>
            <p class="lead text-white"><strong>{% trans "匿名分享薪資，一覽企業待遇" %}</strong></p>
            <br>
            <p>
                {% if not user.is_authenticated %}
                <a href="{% url 'register' %}" class="btn btn-primary">{% trans "加入會員" %}</a>
                {% endif %}
                <a href="{% url 'search_company' %}" class="btn btn-warning">{% trans "分享薪資" %}</a>
            </p>
            {% endif %}
      </div>
    </section>

    <div class="album text-muted">
        <div class="container">

            <div class="row">
                {% if companies %}
                    <div class="col-lg-6">
                        <div id="map" style="min-height: 400px;"></div>
                    </div>
                    <div class="col-lg-6">
                        {% else %}
                        <div class="col-lg-6 offset-lg-3">
                {% endif %}

                    <br>
                    <br>
                    <br>
                    <div class="row">

                        <div class="col-12 text-center">
                            {% if search_args %}
                                {% if user_saved_list %}
                                <h5> {% trans "收藏清單裡搜尋" %}： {{search_args}} </h5>
                                {% else %}
                                <h5> {% trans "搜尋" %}： {{search_args}} </h5>
                                {% endif %}
                            <br>
                            <br>
                            <br>
                            <br>
                            {% endif %}
                        </div>
                        <br>
                        <br>

                        <div class="col-6 col-sm-5">
                            <select class="custom-select" name="city" form="search_form">
                              <option selected>{% trans "城市" %}</option>
                              {% for op in options_city %}
                              <option value="{{ op }}">{{ op }}</option>
                              {% endfor %}
                          </select>
                          <select class="custom-select" name="category" form="search_form">
                              <option selected>{% trans "產業" %}</option>
                              {% for op in options_category %}
                              <option value="{{ op }}">{{ op }}</option>
                              {% endfor %}
                          </select>
                        </div>
                        <div class="col-6 col-sm-7">
                          {% if user_saved_list %}
                            <form action="{% url 'index' %}?redirect_type=user_saved_list" method="post" id="search_form">{% csrf_token %}
                          {% else %}
                            <form action="{% url 'index' %}" method="post" id="search_form">{% csrf_token %}
                          {% endif %}

                              <div class="form-group">
                                <input type="text" class="form-control text-center" placeholder="{% trans '公司名稱 / 職位名稱' %}" name="keyword">
                              </div>
                            </form>
                        </div>
                    </div>
                    {% if user_saved_list %}
                    <button class="btn btn-primary btn-block" type="submit" form="search_form">{% trans "收藏清單裡搜尋" %} <i class="fa fa-search" aria-hidden="true"></i></button>
                    {% else %}
                    <button class="btn btn-primary btn-block" type="submit" form="search_form">{% trans "搜尋" %} <i class="fa fa-search" aria-hidden="true"></i></button>
                    {% endif %}
                </div>
            </div>
          <br>
          <br>

          <div class="row">
            {% for c in companies %}
            <div class="col-md-6 col-lg-4">

                <div class="card card-custom">

                    <a href="{% url 'company_info' c.id %}" style="text-decoration:inherit; color:inherit;">
                      <div class="card-block text-center">
                          <p class="card-text text-right"><small class="text-muted">{{ c.update_time|date:"Y/m/d"}}</small></p>
                          <h4 class="card-title">{{ c.name }}</h4>
                          <br>
                          <p class="card-text">{{c.country}}{{c.city}}{{c.street}}</p>
                      </div>
                      <ul class="list-group list-group-flush">
                          {% for s in c.salary.all|dictsortreversed:"update_time"|slice:":3" %}
                          <li class="list-group-item text-primary">{{ s.title }}: ${{ s.monthly_pay }}</li>
                          {% endfor %}
                          <li class="list-group-item justify-content-between"><span><i class="fa fa-info-circle" aria-hidden="true"></i>&nbsp;薪資數據件數: {{c.salary.count}}</span>
                              <span><i class="fa fa-caret-down fa-lg" aria-hidden="true"></i> more</span>
                          </li>
                      </ul>

                      <div class="card-block text-primary">
                          <a href="{% url 'index' %}?search_query_category={{ c.category }}" class="card-link">#{{ c.category }}</a>
                          <a href="{% url 'index' %}?search_query_city={{ c.city }}" class="card-link">#{{ c.city }}</a>
                            {% if user.is_authenticated %}
                                {% if c in saved_companies %}
                                    <i class="material-icons pink user_saved_list pointer pull-right" data-company_id="{{ c.id }}" data-save_restaurant_type="unsave">favorite</i>
                                {% else %}
                                    <i class="material-icons pink user_saved_list pointer pull-right" data-company_id="{{ c.id }}" data-save_restaurant_type="save">favorite_border</i>
                                {% endif %}
                            {% else %}
                                <i class="material-icons pink pointer pull-right" onclick="window.location='{% url 'login' %}'">favorite_border</i>
                            {% endif %}
                      </div>
                    </a>

                </div>

            </div>
            {% endfor %}
          </div>
                <br>
                <br>

            {% if not companies %}
                {% if search_args %}
                    <h3 class="text-center">{% trans "無公司符合搜尋結果" %}</h3>
                {% else %}
                    {% if user_saved_list %}
                    <h3 class="text-center">{% trans "還沒收藏任何公司哦" %}</h3>
                    {% else %}
                    <h3 class="text-center">{% trans "尚無公司加入Sharlary" %}</h3>
                    {% endif %}
                {% endif %}
            {% endif %}

      </div>
    </div>

{% endblock %}

{% block extraJS %}
    <script src="{% static 'js/google_map_multiple_marker.js' %}" restaurants_locations_dict="{{ restaurants_locations_dict }}" ggl_map_zoom_value="{{ ggl_map_zoom_value|safe }}" ggl_map_center_lat_lng_arr="{{ ggl_map_center_lat_lng_arr|safe }}" marker_url="/company_info/"></script>
        {% if first_login %}
            <script src="{% static 'js/sweet_alert2_form_success.js' %}" title="{% trans '登入成功' %}！" redirect_url="{% url 'index' %}"></script>
        {% elif logout %}
            <script src="{% static 'js/sweet_alert2_form_success.js' %}" title="{% trans '已登出' %}" redirect_url="{% url 'index' %}"></script>
        {% elif register %}
            <script src="{% static 'js/sweet_alert2_form_success.js' %}" title="{% trans '註冊成功並登入' %}" redirect_url="{% url 'index' %}"></script>
        {% elif user_update or password_change %}
            <script src="{% static 'js/sweet_alert2_form_success.js' %}" title="{% trans '更改成功' %}！" redirect_url="{% url 'index' %}"></script>
        {% endif %}
    <script src="{% static 'js/user_save_restaurant.js' %}" user_restaurant_list_exist="{{ user_saved_list }}" ajax_url="{% url 'user_save_company' %}" csrf_token="{{ csrf_token }}"></script>
{% endblock %}

