{% extends 'base.html' %}

{% load i18n %}
{% load static %}

{% block body %}
    <section class="jumbotron background-grey">
        <div class="container">

            <h2 class="jumbotron-heading text-center"><i class="fa fa-building-o" aria-hidden="true"></i> 查詢公司</h2>
            <br>
            <br>
            <br>
            <form action="" method="post">{% csrf_token %}

                <div class="row form-group">
                    <div class="col-md-8 offset-md-2">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="公司名稱, ex: 台積電" name="company_name" id="company_name">
                            <span class="input-group-btn">
                        <button class="btn btn-primary" type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
                      </span>
                        </div>
                    </div>
                </div>

            </form>

            {% if request.method == "POST" %}
                <br>
                {% if query_company_name %}
                <h6 class="text-muted">{% trans "搜尋" %}: {{query_company_name}}</h6>
                {% endif %}
                <br>

                {% if companies %}
                {% for c in companies %}
                <div class="card">
                    <div class="card-block">
                        <a href="{% url 'share_salary' c.id %}" style="text-decoration:inherit;">
                            <p class="card-text">{{c.name}}&nbsp;
                                <span class="pull-right text-muted">{{c.country}}{{c.city}}{{c.street}}&nbsp;
                                            <i class="fa fa-chevron-right fa-lg" aria-hidden="true"></i>
                                        </span>
                            </p>
                        </a>
                    </div>
                </div>
                <br>
                {% endfor %}
                {% else %}
                <h5 class="text-center text-muted">{% trans "無公司符合搜尋結果" %}</h5>
                <br>
                {% endif %}
                <div class="card">
                    <div class="card-block">
                        <a href="{% url 'add_company' %}" style="text-decoration:inherit;">
                            <p class="card-text text-primary">新增公司&nbsp;
                                <span class="pull-right">{{c.country}}{{c.city}}{{c.street}}&nbsp;
                                    <i class="fa fa-plus fa-lg" aria-hidden="true"></i>
                                </span>
                            </p>
                        </a>
                    </div>
                </div>
            {% else %}
            <br>
            <br>
            <br>
            <br>
            {% endif %}


        </div>
    </section>
{% endblock %}

{% block extraJS %}
    {% if form.errors %}
        {{ form.errors }}
        {% get_current_language as LANGUAGE_CODE %}
        <script src="{% static 'js/sweet_alert2_form_error.js' %}" title="{% trans '表格有誤' %}" lang="{{ LANGUAGE_CODE }}"></script>
    {% elif saved %}
        <script src="{% static 'js/sweet_alert2_form_success.js' %}" title="{% trans '新增成功' %}" redirect_url="{% url 'share_salary' company_id %}"></script>
    {% endif %}
    <script src="{% static 'js/auto_complete.js' %}" id_name="company_name" source="{{ company_names }}"></script>
{% endblock %}
