{% load i18n %}
{% load tz %}

<div class="collapse bg-inverse" id="navbarHeader">
  <div class="container">
    <div class="row">
        {% if user.is_authenticated %}

        {% if user.user_extend.salary %}
            <div class="col-sm-7 py-4">
                <h4 class="text-white">Hey！{{ user.first_name }}</h4>
                <p class="text-white">
                    {% trans "感謝您分享薪資，快看看Sharlary上哪間公司待遇好並收藏吧！" %}
                </p>
            </div>
        {% else %}
            <div class="col-sm-7 py-4">
                <h4 class="text-white">Hey！{{ user.first_name }}</h4>
                <p class="text-white">
                    {% trans "快於Sharlary匿名分享薪資一起讓企業公司待遇透明化！" %} <a href="{% url 'search_company' %}" class="text-primary">Go</a>
                </p>
            </div>
        {% endif %}


        {% else %}
          <div class="col-sm-7 py-4">
            <h4 class="text-white">{% trans "關於Sharlary" %}</h4>
            <p class="text-white">{% trans "希望透過大家匿名分享薪資讓待遇好的公司能被更多人看見" %}！</p>
          </div>
        {% endif %}

      <div class="col-sm-3 py-4">
        {% if user.is_authenticated %}
        <h4 class="text-muted">{% trans "選項" %}</h4>
        <ul class="list-unstyled text-white">
          <li><a href="{% url 'user_update' %}">{% trans "更改個人資訊" %}</a></li>
          <li><a href="{% url 'password_change' %}">{% trans "更改密碼" %}</a></li>
          <li><a href="{% url 'user_saved_list' %}">{% trans "我的收藏清單" %}</a></li>
          <li><a href="{% url 'user_salary' %}">{% trans "我的薪資" %}</a></li>
        </ul>
        {% endif %}
      </div>

      <div class="col-sm-2 py-4 text-right ">
        {% if user.is_authenticated %}
            <a href="{% url 'logout' %}" class="btn btn-primary btn-block">{% trans "登出" %} <i class="fa fa-sign-out" aria-hidden="true"></i></a>
        {% else %}
            <a href="{% url 'login' %}" class="btn btn-primary btn-block">{% trans "登入" %} <i class="fa fa-sign-in" aria-hidden="true"></i></a>
        {% endif %}
        <br>
        <div class="btn-group">
          <button type="button" class="btn btn-outline-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {% get_current_language as LANGUAGE_CODE %}
              {{ LANGUAGE_CODE }}
          </button>
          <div class="dropdown-menu dropdown-menu-right">
            <a class="dropdown-item" href="{% url 'set_lang' %}?type=en-US&next={{ request.path }}">English</a>
            <a class="dropdown-item" href="{% url 'set_lang' %}?type=zh-Hant&next={{ request.path }}">繁體中文</a>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>

<div class="navbar navbar-inverse bg-inverse">
  <div class="container d-flex justify-content-between">
    <a href="{% url 'index' %}" class="navbar-brand">Sharlary</a>
    <button class="navbar-toggler btn" type="button" data-toggle="collapse" data-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>
</div>