{% extends 'base.html' %}

{% load i18n %}
{% load static %}

{% block body %}

        <section class="jumbotron background-grey text-center">
            <div class="container">

                <h1 class="jumbotron-heading">{% trans "重設密碼" %}</h1>
                <br>
                <p class="text-muted">{% trans "忘記密碼？" %} {% trans "輸入您註冊的信箱，我們將寄發驗證信讓您重設密碼" %}</p>
                <br>

                    <form method="post" action="">{% csrf_token %}
                        <div class="row">
                            <div class="col-sm-6 offset-sm-3">

                                <div class="form-group">
                                    <!--<label for="email">Email address</label>-->
                                    <input type="email" id="email" class="form-control" placeholder="Email address" name="email" required>
                                </div>

                                <br>

                                <div class="row">
                                    <div class="col-8">
                                        <button type="submit" class="btn btn-outline-primary btn-block">{% trans "送出" %}</button>
                                    </div>
                                    <div class="col-4">
                                        <a href="{% url 'index' %}" class="btn btn-outline-danger btn-block">{% trans "取消" %}</a>
                                    </div>
                                </div>

                            </div>

                        </div>
                    </form>
            </div>
        </section>

{% endblock %}

{% block extraJS %}
    {% if form.errors %}
        {{ form.errors }}
    {% get_current_language as LANGUAGE_CODE %}
        <script src="{% static 'js/sweet_alert2_form_error.js' %}" title="{% trans '寄送失敗' %}" LANG="{{ LANGUAGE_CODE }}"></script>
    {% endif %}
{% endblock %}
