{% extends 'base.html' %}

{% load i18n %}
{% load static %}

{% block body %}

        <section class="jumbotron background-grey">
            <div class="container">

                <h2 class="jumbotron-heading text-center bold"><i class="fa fa-pencil" aria-hidden="true"></i> <strong>{% trans "更改密碼" %}</strong></h2>
                <br>

                <form method="post" action="">{% csrf_token %}
                    <div class="row">
                        <div class="col-sm-6 offset-sm-3">

                            <div class="form-group">
                                <label for="old_password" class="sr-only">{% trans "舊密碼" %}:</label>
                                <input type="password" id="old_password" class="form-control" placeholder="{% trans '舊密碼' %}" name="old_password" required autofocus>
                            </div>

                            <div class="form-group">
                                <label for="new_password1" class="sr-only">{% trans "新密碼" %}:</label>
                                <input type="password" id="new_password1" class="form-control" placeholder="{% trans '新密碼' %}" name="new_password1" required>
                                <small id="new_password1Help" class="form-text text-muted">{{ form.new_password1.help_text|safe }}</small>
                            </div>

                            <div class="form-group">
                                <label for="new_password2" class="sr-only">{% trans "確認新密碼" %}:</label>
                                <input type="password" id="new_password2" class="form-control" placeholder="{% trans '確認新密碼' %}" name="new_password2" required>
                            </div>

                            <br>

                            <div class="row">
                                <div class="col-8">
                                    <button type="submit" class="btn btn-outline-primary btn-block">{% trans "送出" %}</button>
                                </div>
                                <div class="col-4">
                                    <a href="{% url 'index' %}" class="btn btn-outline-danger btn-block">{% trans "取消" %}</a>
                                </div>
                            </div>

                        </div>
                    </div>
                </form>

            </div>
        </section>

{% endblock %}

{% block extraJS %}
    {% if form.errors %}
        {{ form.errors }}
    {% get_current_language as LANGUAGE_CODE %}
        <script src="{% static 'js/sweet_alert2_form_error.js' %}" title="{% trans '更改失敗' %}" lang="{{ LANGUAGE_CODE }}"></script>
    {% endif %}
{% endblock %}
